<%= render partial: "shared/topbar" %>


<div class="row">
	<div class="large-12 columns">
		<ul class="breadcrumbs">
		  <li class="current"><%= link_to "Your Messages", "#" %></li>
		</ul>					
	</div>
</div>

<div class="row">
	<div class="small-12 medium-8 columns">
		<% @unread_list.each do |m| %>
			<% this_one = m.send(@current_user.type_inverse?) %>
			<% a,b  = unread_count_from_match(this_one) %>
			<%= link_to this_one.company_name, view_match_url(this_one.id, "na") %> <strong><small> <%= b %> unread messages </small></strong><br>
			<% unless m == @unread_list.last %>
				<hr style="border-top: 1px solid #ccc">
			<% end %>
		<% end %>

	</div>
</div>
