<% if u.channel_capacities.where(channel_id: 0).count > 0 %>
	<div class="row">
		<div class="medium-6 columns text-right">
			<h4><strong>Custom Channel</strong></h4>
		</div>
		<div class="medium-6 columns">
			<h4><strong>Capacity</strong></h4>
		</div>
	</div>
	<% u.channel_capacities.where(channel_id: 0).each do |cc| %>
		<div class="row">
			<div class="medium-6 columns">
				<%= label_tag "channel_capacity[bulk_ids][#{cc.id}]", cc.custom_channel_name, class: "right" %>&nbsp;
			</div>
			<div class="medium-3 columns end">
				<%= number_field_tag("channel_capacity[bulk_ids][#{cc.id}]", cc.capacity) %>
			</div>
		</div>
	<% end %>									
<% end %>