<% if !@export_countries.empty? %>
	<% @export_countries.each do |cb| %>
	<div class="rowitem">			
	<div class="row">
		<div class="medium-12 columns">
			<%= form_for cb do |f| %>
				<div class="row">
					<div class="medium-8 columns text-right">
						<%= cb.country %>
					</div>
					<div class="medium-4 columns text-left">
						<%= link_to 'Delete', export_country_url(cb, :ob => true), :method => :delete, data: { :confirm => "Are you sure you want to delete #{cb.country}?"}%>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	</div>
	<% end %>
<% else %>
	<h5>( No Countries )</h5>
<% end %>