$('#collection-<%= @collection_name %>').hide().html("<%= j (render(partial: "shared/coll_item", collection:  @collection , as: :cb, locals: {identifier: @identifier }) || "<h5>( #{@no_item_message} )</h5>".html_safe) %>").fadeIn(1000);

$(document).foundation();
$(document).foundation('accordion', 'reflow');
initialize();