
				<div class="row">
					<div class="medium-5 columns">
						<%= f.label field, fieldlabel %>
					</div>
					<div class="medium-2 columns end">
						<%= f.number_field field, label: false, placeholder: 0 %>
					</div>
				</div>

