<div class="row">
	<div class="small-12 columns">
		<div class="ldpanel">

			<div class="row">
				<div class="large-3 columns">
					<strong>Your Distributor Profile</strong>
				</div>
				<div class="large-9 columns">
					<%= yield %>
				</div>
			</div>

		</div>
	</div>
</div>