
<%= render layout: "shared/panel" do %>

	<div class="row">
		<div class="medium-12 columns">
			<h1>Product Portfolio</h1>
			<hr>
		</div>
	</div>

	
	<%= render partial: "shared/editcollblock", locals: { 
		headertitle: "Current SKU List",
		coll: @current_products,
		identifier: "name",
		no_item_message: "No Current Products",
		coll_new_item: @new_product,
		coll_new_item_text: "Add a Current Product",
		iscurrent: true
	} %>
	
	
	<%= render partial: "shared/editcollblock", locals: { 
		headertitle: "Upcoming SKU List",
		coll: @upcoming_products,
		identifier: "name",
		no_item_message: "No Upcoming Products",
		coll_new_item: @new_product,
		coll_new_item_text: "Add an Upcoming Product",
		iscurrent: false
	} %>
	

<%= button_to "Next", onboard_brand_six_url, method: :get, class: "tiny radius success button right" %>

<% end %>

