

<%= render layout: "shared/panel" do %>

	<div class="row">
		<div class="medium-12 columns">
			<h1>Press Hits</h1>
			<hr>
		</div>
	</div>
	
	<%= render partial: "shared/editcollblock", locals: { 
		headertitle: "",
		coll: @press_hits,
		identifier: "source",
		no_item_message: "No Press Hits",
		coll_new_item: @new_press_hit,
		coll_new_item_text: "Add a Press Hit",
		# iscurrent: false
	} %>

<%= button_to "Next", onboard_brand_eight_url, method: :get, class: "tiny radius success button right" %>

<% end %>