<div class="row">
	<div class="medium-1 columns">
		&nbsp;
	</div>
	<div class="medium-4 columns">
		<%= f.text_field :source, label: "Source", placeholder: 'Source' %>
	</div>
	<div class="medium-5 columns">
		<%= f.text_field :link, label: "Link", placeholder: 'Link' %>
	</div>
	<div class="medium-2 columns">
		<%= f.text_field :date, label: "Date", placeholder: 'Date' , class: "datepick_full" %>
	</div>									
</div>
<div class="row">
	<div class="medium-1 columns">
		&nbsp;
	</div>						
	<div class="medium-3 columns">
		upload here 
	</div>
	<div class="medium-8 columns">
		<%= f.text_area :quotes, label: "Quotes", placeholder: 'Quotes' %>
	</div>				
</div>