<div class="row">
	<div class="medium-12 columns">
		<div class="headpanel clearfix">
			<div class="row">
				<div class="medium-12 columns">
					<h1>Edit <br><strong><%= controller_name.singularize.capitalize %> <br>Profile</strong></h1>
				</div>
			</div>
		</div>
	</div>
</div>