
				<div class="row">
					<div class="medium-8 columns text-left">
						<%= f.label field, fieldlabel%>
					</div>
					<div class="medium-3 columns end">
						<%= f.number_field field, label: false, placeholder: 0 %>
					</div>
				</div>

