
				<div class="row">
					<div class="medium-5 columns">
						<%= f.label field, fieldlabel, class: "right"%>
					</div>
					<div class="medium-3 columns end">
						<%= f.number_field field, label: false, placeholder: 0 %>
					</div>
				</div>

