	<div class="row">
		<div class="small-12 columns">
			
			<div class="panel">
				<p>AGENCY MARKETING INFO</p>
			</div>
			
			<div class="panel">
				<p>[Rotating Info on different market trends here??]</p>
			</div>

			<div class="panel">
				<p>[ Interesting Reads here? ]</p>
			</div>
 

		</div>
	</div>