	<div class="row">
		<div class="small-12 columns">
			
			<div class="panel">
					<h2>Message Center</h2>
					<hr>

<p><small>No messages</small></p>

<p><small>No incoming contact requests</small></p>

<p><small>No outgoing contact requests</small></p>

			</div>
			
			<div class="panel">
				<p>[Rotating Info on different market trends here??]</p>
			</div>

			<div class="panel">
				<p>[ Interesting Reads here? ]</p>
			</div>
 

		</div>
	</div>