	<div class="row">
		<div class="small-12 columns">
			<h2 class="dashboard-section-title">Message Center</h2>
			<div class="panel">
					
				<h4>No Messages</h4>

			</div>
			<h2 class="dashboard-section-title">Task List</h2>
			<div class="panel">
				<ul>
					<li> Thing to do
					<li> Thing to do
					<li> Thing to do
				</ul>
			</div>
			<h2 class="dashboard-section-title">Live Chat</h2>
			<div class="panel" style="min-height: 10em;">
				<p>>> Waiting for account manager...</p>
			</div>
 

		</div>
	</div>