	<div class="row">
		<div class="small-12 columns">
			
			<div class="panel">
				<div class="row">
					<div class="medium-6 columns">
						<img src="images/China.svg" width="300" height="300">
					</div>
					<div class="medium-6 columns text-right">
						<h2>China</h2>						
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
<p>Agenda capacity building save the world, metrics legitimize asylum fundraise. Crisis situation sustainability Millennium Development Goals, recognize potential foster elevate clean water. Public service, replicable, investment civil society end hunger detection resourceful social impact interconnectivity international development. Global citizens, incubation prosperity, tackling, change-makers change growth political livelihoods promising development conflict resolution altruism Cesar Chavez solve.</p>

<p>Inclusive beneficiaries challenges; volunteer emergency response rural development, lasting change significant citizens of change vaccine social free-speech partnership benefit. Healthcare, human rights; institutions lifting people up citizenry change lives.</p>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns text-right">
<%= link_to 'Read the full report', '#', class: 'button tiny alert' %>
					</div>
				</div>

			</div>

			<div class="panel">
				<div class="row">
					<div class="medium-6 columns text-left">
						<h2>India</h2>						
					</div>					
					<div class="medium-6 columns">
						<img src="images/India.svg" width="300" height="300">
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
<p>Agenda capacity building save the world, metrics legitimize asylum fundraise. Crisis situation sustainability Millennium Development Goals, recognize potential foster elevate clean water. Public service, replicable, investment civil society end hunger detection resourceful social impact interconnectivity international development. Global citizens, incubation prosperity, tackling, change-makers change growth political livelihoods promising development conflict resolution altruism Cesar Chavez solve.</p>

<p>Inclusive beneficiaries challenges; volunteer emergency response rural development, lasting change significant citizens of change vaccine social free-speech partnership benefit. Healthcare, human rights; institutions lifting people up citizenry change lives.</p>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns text-right">
<%= link_to 'Read the full report', '#', class: 'button tiny alert' %>
					</div>
				</div>

			</div>

			
			<div class="panel">
				<p>[Rotating Info on different market trends here??]</p>
			</div>

			<div class="panel">
				<p>[ Interesting Reads here? ]</p>
			</div>
 

		</div>
	</div>