<div class="row">
	<div class="small-12 columns text-left">
		<h1><%= render "shared/imageswap/insights_logo" %> Insights</h1>
	</div>
</div>

	<div class="row">
		<div class="small-12 columns">
			<h2 class="dashboard-section-title">Insights Reports</h2>
			<div class="panel">
				<div class="row">
					<div class="medium-6 columns">
						<img src="images/China.svg" width="300" height="300">
					</div>
					<div class="medium-6 columns text-right">
						<h2>China</h2>						
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">

<p>Inclusive beneficiaries challenges; volunteer emergency response rural development, lasting change significant citizens of change vaccine social free-speech partnership benefit. Healthcare, human rights; institutions lifting people up citizenry change lives.</p>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns text-right">
<%= link_to 'Purchase the full report', '#', class: 'button tiny alert' %>
					</div>
				</div>

			</div>

			<div class="panel">
				<div class="row">
					<div class="medium-6 columns text-left">
						<h2>India</h2>						
					</div>					
					<div class="medium-6 columns">
						<img src="images/India.svg" width="300" height="300">
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
<p>Inclusive beneficiaries challenges; volunteer emergency response rural development, lasting change significant citizens of change vaccine social free-speech partnership benefit. Healthcare, human rights; institutions lifting people up citizenry change lives.</p>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns text-right">
<%= link_to 'Purchase the full report', '#', class: 'button tiny alert' %>
					</div>
				</div>

			</div>


		</div>
	</div>