	<div class="row">
		<div class="small-12 columns">
			
			<div class="panel">
				<p>[ Here's some sort of congratualtions text, the text of which depends on how much of their profile has been filled out... <br><br>i.e. if it is full and complete, put some info/links for them to start a search / get matched ....<br> otherwise there should be text about how and what they should fill out before getting matched, etc...]</p>
			</div>
			
			<div class="panel">
				<p>[Rotating Info on different market trends here??]</p>
			</div>

			<div class="panel">
				<p>[ Interesting Reads here? ]</p>
			</div>
 

		</div>
	</div>