
<div class="row">
	<div class="small-12 columns text-right">
		<div class="ldpanel">
			Hello, <%= @current_user.user_profile.firstname rescue @current_user.email %> | 
			<% if @current_user.brand %>
				<%= link_to 'Brand Profile', brand_url %> | 
			<% end %>
			<% if @current_user.distributor %>
				<%= link_to 'Distributor Profile', distributor_url %> | 
			<% end %>
			<%= link_to 'logout', logout_url %>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-4 columns">
		<div class="ldpanel profile">
			stuff
		</div>
	</div>
	<div class="small-8 columns">
		<div class="ldpanel products">
			products
		</div>
	</div>

</div>