<% content_for :javascript_head do %>
	<%= javascript_tag do %>
		var bgColor = "#223344";
	<% end %>
<% end %>

<div class="row">
	<div class="small-12 columns text-right">
		<div class="ldpanel">
			Hello, <%= @current_user.user_profile.firstname rescue @current_user.email %> | <%= link_to 'logout', logout_url %>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-4 columns">
		<div class="ldpanel profile">
			stuff
		</div>
	</div>
	<div class="small-8 columns">
		<div class="ldpanel products">
			products
		</div>
	</div>

</div>