
<%= render partial: "shared/topbar" %>

<% content_for :javascript_foot do %>
	<%= javascript_tag do %>

	<% end %>
<% end %>

	<div class="row">

		<div class="medium-4 columns">
			
				&nbsp;
			
		</div>


	<% if @current_user.distributor %>




	<% end %>

	<% if @current_user.brand %>



	<% end %>

	</div>