

<% content_for :user_head do %>
<div class="row">
	<div class="small-12 columns text-right">
		<div class="ldpanel">
			<% if @current_user %>
			Hello, <%= @current_user.user_profile.firstname rescue @current_user.email %> | <%= link_to 'logout', logout_url %>
			<% else %>
			<%= link_to 'Login', login_url %> or <%= link_to 'Register', new_user_url %> 
			<% end %>
		</div>
	</div>
</div>
<% end %>


<div class="row">
	<div class="small-4 columns">
		<div class="ldpanel profile">
			marketing
		</div>
	</div>
	<div class="small-8 columns">
		<div class="ldpanel products">
			blurbs
		</div>
	</div>

</div>