<div class="row">
	<div class="medium-9 push-3 columns">
		<%#= render "index_section_links" %>
	</div>
</div>

<div class="row">

	<div class="medium-9 push-3 columns">
		<%= render "index_section_links" %>
		<div id="match-list">
			<%= render "distributor_match_list" %>
		</div><!--/#match-list -->	
	</div> <!-- /.medium-9 push-3 columns-->

	<div class="medium-3 pull-9 columns">
		<%= render "distributor_filter_form" %>
	</div> <!-- /.medium-3 pull-9 columns-->

</div> <!-- /.row -->
