<div class="profile-outer-tile">

	<div class="row">
		<div class="medium-12 text-right columns">
			<h4>You have requested a conversation with <br><strong><%= @match.company_name %></strong></h4>
		</div>
	</div>
	
	<div class="row">
		<div class="small-11 small-centered columns">
			<div class="bubble-you">
				<%= this_match(@match).intro_message %>
			</div>
		</div>
	</div>

</div>