<div class="profile-outer-tile">

	<div class="row">
		<div class="medium-9 columns">
			<h2>You have contacted <strong><%= @match.company_name %></strong></h2>
			
			<%= this_match(@match).intro_message %>
		</div>
		<div class="medium-3 columns">

		</div>				
	</div>

</div>