<% matchtype = @current_user.type? == "distributor" ? "Brands" : "Distributors" %>
<%= render partial: "shared/topbar" %>

<div class="row collapse">
	<div class="small-12 columns" id="page-content">

		<div class="messages-panel">
		<% unless @matches.blank? || !@current_user.subscriber? %>
		<h2>Saved</h2>
		<small><strong><%= render partial: "counts", locals: {matches: @matches} %></strong></small>
		
		<hr>
		<% end %>
		<div class="saved-contacted-match-list">
		<%= render partial: "#{@current_user.type?}_match_list", locals: {matches: @matches} %>
		</div>
		</div>
	</div><!--/.small-12-->
</div>
