<%= render partial: "shared/topbar" %>

<% content_for :subnav do %>
<% end %>

<div class="row">
	<div class="small-12 columns">
		<ul class="breadcrumbs marketplace">
			<% matchtype = @current_user.distributor ? "Brand" : "Distributor" %>
		  <li class="current"><img src="/images/logos_marketplace.svg" height="30" width="30" alt="Marketplace" /> <%= link_to "Your #{matchtype} Matches", "#" %></li>
		</ul>
	</div>
</div>




<% if @current_user.brand %>

	<%= render partial: "brand" %>

<% else %>

	<%= render partial: "distributor" %>

<% end %>
