<%= render partial: "shared/topbar" %>


	<div class="row">
		<div class="small-12 columns previewtile">

			<%= form_tag all_matches_url, method: 'get' do %>


			<% @countries.each do |co| %>
				<%= co %><br>
			<% end %>
		</div>
	</div>



<% @matches.each do |match| %>

	<div class="row">
		<div class="medium-3 columns previewtile">

		</div>

		<div class="medium-9 columns previewtile">
			<%= render partial: "/shared/profile/brand_public_profile_tiles", locals: {profile: match} %>
		</div>
	</div>

<% end %>