<% matchtype = @current_user.type? == "distributor" ? "Brands" : "Distributors" %>
<%= render partial: "shared/topbar" %>


<div class="row collapse">
	<div class="medium-2 hide-for-small-only columns text-right" id="side-nav-container">
		<%= render 'shared/matches/side_nav' %>
	</div><!--/.medium-4 hide-for-small-only -->

	<div class="medium-10 small-12 columns" id="side-nav-content">
		<% unless @matches.blank? || !@current_user.subscriber? %>
		<div class="saved-contacted-match-header">
		<small><strong><%= render partial: "counts", locals: {matches: @matches} %></strong></small>
		</div>	
		<% end %>
		<div class="saved-contacted-match-list">
		<%= render partial: "#{@current_user.type?}_match_list", locals: {matches: @matches} %>
		</div>
	</div><!--/.medium-10-->
</div>
