
<%= render partial: "shared/topbar" %>


<br><br>

<div class="row">
	<div class="small-12 columns">

		<div id="match-view">

			<%= render "match_view" %>

		</div> <!-- /.#match-view -->

	</div><!--/.medium-10-->
</div>






