body {
  padding-bottom: 2em;

}

/////////////
// DEV STYLES
/////////////

// div {
//   border: 1px solid red; 
// }

.tbd {
  color: red;
   margin: 1em 0em;
 }



// Transparent backgrounds

@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  // $rgb: rgb($color);
  $ie-hex-str: ie-hex-str($rgba);
  /* Fallback for web browsers that doesn't support RGBa */
  // background: $rgb;
  background: $color;
  /* RGBa with opacity */
  background: $rgba;
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str}, endColorstr=#{$ie-hex-str})";
}



.ldpanel {
	// border: 1px dotted black;
	padding: 2em 2em;
	margin: 0.5em 0em 0.5em 0em;
	@include transparent (white, 0.7);
	&.products {
		height: 20em;
	}
	&.profile {
		height: 25em;
    .inner {
      h4 {
        color: #267A78;
      }
      margin-top: 1em;
      height: 90%;
      overflow-y: auto;
    }
	}	
}

// Distributor/Brand Profile CSS
#profile-name {
  font-size:2em;
  font-weight:bold;
}

textarea {
  resize: vertical;
}


input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: none;
  border-bottom: solid 2px #555;
}


// AUTOCOMPLETE STYLES

.autocomplete-suggestions { 
  border: 1px solid #999; 
  background: #FFF; 
  overflow: auto; 
}
.autocomplete-suggestion { 
  padding: 2px 5px; 
  white-space: nowrap; 
  overflow: hidden; 
}
.autocomplete-selected { 
  background: #F0F0F0; 
}
.autocomplete-suggestions strong { 
  font-weight: normal; 
  color: #3399FF; 
}

