
@import "global_variables";


body {
  // padding-top: 2em;
}

// div {
//   border: 1px solid red; 
// }

/////////////
// DEV STYLES
/////////////

.tbd {
  color: red;
  margin: 1em 0em;
 }

// Error/Validation styling

.errornotice {
  color: red;
  font-size: 0.80em;
  margin-bottom: 0.3em;
  padding: 0.2em;
  border: 1px solid transparent;
  &.error-on {
    border: 1px solid red;
  }
}

// Alerts

.information {
  color: $info-color;
}

// Transparent backgrounds

@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  // $rgb: rgb($color);
  $ie-hex-str: ie-hex-str($rgba);
  /* Fallback for web browsers that doesn't support RGBa */
  // background: $rgb;
  background: $color;
  /* RGBa with opacity */
  background: $rgba;
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str}, endColorstr=#{$ie-hex-str})";
}

@mixin formlinkstyle($color: $link-color, $font-size: 0.65em) {
  border: 1px solid $color;
  transition: 0.2s;
  padding: 0.1em 0.4em;
  border-radius: 5px;
  font-size: $font-size;
  background-color: white;
  color: $color;
  &:hover {
    background-color: $color;
    color: white;
  }  
}

.wrapper {
  min-height: 100%;
}

// Styling for Edit panels
.groupwrapper {
  background-color: transparent;
  padding: 0.5em;
  margin: 0.5em 0em;
  border: 2px solid #455E80;
  vertical-align: bottom;

}
.addnewform {
  background-color: #ABBACC;
  .addnewforminputs {
    padding: 0em 1em;
  }
  .addnewformsubmit {
    margin: 0.5em 1em;
  }
}

a.itemformlink {
  @include formlinkstyle;
}
.rowitem {
  padding: 0em;
  margin: 0em 0em 0.25em 0em;
  a {
    @include formlinkstyle;
  }

  // styling for the collection accordions
  .accordion-navigation > a {
    border: none;
    transition: 0.2s;
    // padding: 0.1em 0.4em;
    border-radius: 0px;
    font-size: 0.75em;
    border-bottom: 2px solid scale-color(#ABBACC, $lightness: -30%);
    &:hover {
      background-color: scale-color(#ABBACC, $lightness: -30%);
      border-bottom: 2px solid #efefef;
      color: white;
    }
  }

  .rowheadback {
    background-color: #ABBACC;
    padding: 0.5em;
    margin: 0em 0em 1em 0em;
    color: white;
    border-bottom: 2px solid scale-color(#ABBACC, $lightness: -30%);
    &.addnew {
      background-color: scale-color(#ABBACC, $lightness: -50%);
    }
  }
}

.columnheader {
  // border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.1em 0.5em;
}

// Distributor/Brand Profile CSS
#profile-name {
  font-size:2em;
  font-weight:bold;
}

// Top Bar
.topbar {
  border-radius: 0px;
  padding: 0.5em 0em;
  #loginwidget  {
    padding: 0em;
    margin: 0.7em 0.5em;
    font-family: "aw-conqueror-inline",sans-serif;
    a {
      padding-top: 1em;
    }
  }
  .usernav {
    // border-bottom: 1px dotted black;
    margin: 0.5em 0.5em;
    padding: 0em;
  }     
}
.topbarborder {
  border-bottom: 1px dotted red;
  height:1em;
}

.ldpanel {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 3px; 
  /* Firefox 1-3.6 */
  -moz-border-radius: 3px; 
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 3px; 
	border: 1px dotted scale-color(#f04270, $lightness: 50%);
  padding: 0.5em 1em;
  margin: 0.5em 0em 1.5em 0em;
  h1 {
    padding: 0em 0.4em;
    background-color: scale-color(#f04270, $lightness: 30%);
    color: white;
    small {
      color: white;
    }
  }
}

.headpanel {
  margin: 0.5em 0em 0.5em 0em;
  border: 1px dotted scale-color(red, $lightness: 50%);
  h1{
    color: #455E7F;
  }
}


textarea {
  resize: vertical;
}

////////////////
// Forms styling
////////////////

$input-background-color: scale-color(#169FCC, $lightness: 80%);
$input-text-color: scale-color(#1D8DB2, $lightness: -30%);
$input-top-border: scale-color(#222, $lightness: 30%);

input[type="submit"] {
  margin-top: 1em;
}
input[type="text"],
textarea,
input[type="number"],
input[type="email"],
input[type="password"],
select {
  padding: 0px 0px 0px 10px;
  margin-bottom: 0.2em;
  border: none;
  border-top: solid 2px scale-color($input-top-border, $lightness: 30%);
  transition: border 0.3s;
  background: $input-background-color;
  color: $input-text-color;
  box-shadow: none;
}
input[type="text"]:focus,
input[type="text"].focus,
textarea:focus,
textarea.focus,
input[type="email"]:focus,
input[type="email"].focus,
input[type="password"]:focus,
input[type="password"].focus,
input[type="number"]:focus,
input[type="number"].focus {
  border: none;
  border-top: solid 2px $input-top-border;
  background: $input-background-color;
  // background: #2C3838;
  box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
  color: $input-text-color;
}

select:hover,
select.hover {
  border: none;
  border-top: solid 2px $input-top-border;
  background: $input-background-color;
  box-shadow: none;
  color: $input-text-color;
}


// placeholder styling
$placeholder-color: #ABBACC;

::-webkit-input-placeholder {
   color: $placeholder-color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $placeholder-color;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $placeholder-color;  
}

:-ms-input-placeholder {  
   color: $placeholder-color;  
}

//////////
// Radio and Checkbox styling
//////////

// RADIO
/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio] {
    display:none; 
    margin:10px;
}
 
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio] + label {
    display:inline-block;
    transition: color 0.5s;
    transition: background-color 0.5s;
    transition: border 0.5s;
    margin: 0px -2px 0px -2px;
    padding: 4px 12px;
    background-color: scale-color($input-background-color, $lightness: 80%);
    border: 1px solid #D6E8FF;
    color: #7f7f7f;
}



/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked + label { 
  background-image: none;
  background-color: scale-color($input-background-color, $lightness: 30%);
  border: 1px solid scale-color(#D6E8FF, $lightness: -80%);
  color: #000;
    
}
input[type=radio] + label:hover ,
input[type=radio]+ label:active  {
  color: #000;
}

// CHECKBOX
/*
  Hide checkbox
  we will use just the label to create pushbutton effect
*/
input[type=checkbox] {
  display:none; 
  margin:10px;
}
 
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=checkbox] + label {
  display:inline-block;
  transition: color 0.5s;
  transition: background-color 0.5s;
  transition: border 0.5s;  
  margin: 2px;
  padding: 4px 12px;
  background-color: scale-color($input-background-color, $lightness: 80%);
  border: 1px solid #D6E8FF;  
  // background-color:#969696;
  // border-color: #ddd;
  color: #7f7f7f;
  width: 100%;
  &::before { 
    content: "\25CE\0020";    
  }
}
input[type=checkbox] + label:hover ,
input[type=checkbox]+ label:active  {
  color: #000;
}

/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=checkbox]:checked + label { 
  background-image: none;
  background-color: scale-color($input-background-color, $lightness: 30%);
  border: 1px solid scale-color(#D6E8FF, $lightness: -80%);
  color: #000;
  // background-color: #e7e7e7;
  &::before { 
    content: "\25C9\0020";    
  }
}

.customchanneldisplay {
  padding: 4px 12px;
  color: #000;
  &::before { 
    content: "\25C9\0020";    
  }
}

////////////////
// AUTOCOMPLETE STYLES
////////////////

.autocomplete-suggestions { 
  font-weight: 200;
  font-size: small;
  border: 1px solid #999; 
  background: #FFFEF7; 
  overflow: auto; 
}
.autocomplete-suggestion { 
  font-weight: 200;
  font-size: small;
  padding: 2px 5px; 
  white-space: nowrap; 
  overflow: hidden; 
}
.autocomplete-selected { 
  background: #2C3838;
  color: #FFF;
}
.autocomplete-suggestions strong { 
  font-weight: 400; 
  font-size: small;
  color: #F04270; 
}

//////////////
// ONBOARD NAV
//////////////

$onboard-nav-radius: 4px;

.onboard-nav {
  padding-bottom: 0.25em;
  li {
    border: 2px solid $body-font-color;
    height: 2em;
    // width: 2em;
    padding: 0em 0.5em;
    text-align: center;
    margin-bottom: 0.2em;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    display:inline-block;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: $onboard-nav-radius; 
    /* Firefox 1-3.6 */
    -moz-border-radius: $onboard-nav-radius;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: $onboard-nav-radius; 
    &.active {
      background-color: scale-color(#f04270, $lightness: 30%);
      color: white;
    }
  }
  a {
      color: $body-font-color;
  }
}


.submit-link {
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: $link-color;
  cursor: pointer;
  font-family: "aw-conqueror-inline",sans-serif;
  font-size: 1em;
}

.text-submit {
  margin-bottom: 1em;
  @include formlinkstyle($link-color, 1.5em)

}

