<% nolabel ||= false %>
<svg class="brand-portfolio" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 250 250" enable-background="new 0 0 250 250" xml:space="preserve">
  <g>
    <circle cx="54.7" cy="79.9" r="7.5"/>
    <circle cx="79.3" cy="119.5" r="7.5"/>
    <circle cx="101.8" cy="160.1" r="7.5"/>
    <path d="M34.4 66.6L62 46.8h105V74h6.4V43.5c0-1.8-1.4-3.2-3.2-3.2H61c-0.7 0-1.3 0.2-1.9 0.6L29.3 62.3c-0.8 0.6-1.3 1.6-1.3 2.6V97c0 1 0.5 2 1.3 2.6l19 13.6v-7.9l-13.9-10V66.6z"/>
    <path d="M57.9 104l27.6-19.8h105v26.2h6.4V81c0-1.8-1.4-3.2-3.2-3.2H84.5c-0.7 0-1.3 0.2-1.9 0.6L52.8 99.8c-0.8 0.6-1.3 1.6-1.3 2.6v32.1c0 1 0.5 2 1.3 2.6l16.8 12.1v-7.9l-11.8-8.4V104z"/>
    <path d="M221.6 116.3H112.3c-1.4 0-2.6 0.4-3.7 1.2l-29.8 21.4c-1.7 1.2-2.7 3.2-2.7 5.2v32.1c0 2.1 1 4 2.7 5.2l29.8 21.4c1.1 0.8 2.4 1.2 3.7 1.2h109.3c3.5 0 6.4-2.9 6.4-6.4v-74.9C228 119.2 225.1 116.3 221.6 116.3zM215.2 191.2H114.4l-25.4-18.3v-25.5l25.4-18.3h100.8V191.2z"/>
  </g>
</svg>
<% unless nolabel %>
<div class="profile-icon-label">Brand Portfolio</div>
<% end %>