<% nolabel ||= false %>
<div class="svgwrapper">
<svg class="calendar" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 250 250" enable-background="new 0 0 250 250" xml:space="preserve">
  <g>
    <g>
      <path d="M325.4 304.5v10.6h-10.6v-10.6H325.4M331.4 298.5h-22.6v22.6h22.6V298.5L331.4 298.5z"/>
    </g>
    <g>
      <path d="M353.2 304.5v10.6h-10.6v-10.6H353.2M359.2 298.5h-22.6v22.6h22.6V298.5L359.2 298.5z"/>
    </g>
    <g>
      <path d="M380.9 304.5v10.6h-10.6v-10.6H380.9M386.9 298.5h-22.6v22.6h22.6V298.5L386.9 298.5z"/>
    </g>
    <g>
      <path d="M408.6 304.5v10.6H398v-10.6H408.6M414.6 298.5H392v22.6h22.6V298.5L414.6 298.5z"/>
    </g>
    <g>
      <rect x="419.7" y="298.5" width="22.6" height="22.6"/>
    </g>
    <g>
      <rect x="447.4" y="298.5" width="22.6" height="22.6"/>
    </g>
    <g>
      <rect x="475.1" y="298.5" width="22.6" height="22.6"/>
    </g>
    <g>
      <rect x="308.9" y="193.9" width="22.6" height="22.6"/>
    </g>
    <g>
      <rect x="336.6" y="193.9" width="22.6" height="22.6"/>
    </g>
    <g>
      <path d="M380.9 199.9v10.6h-10.6v-10.6H380.9M386.9 193.9h-22.6v22.6h22.6V193.9L386.9 193.9z"/>
    </g>
    <g>
      <path d="M408.6 199.9v10.6H398v-10.6H408.6M414.6 193.9H392v22.6h22.6V193.9L414.6 193.9z"/>
    </g>
    <g>
      <path d="M436.3 199.9v10.6h-10.6v-10.6H436.3M442.3 193.9h-22.6v22.6h22.6V193.9L442.3 193.9z"/>
    </g>
    <g>
      <path d="M464 199.9v10.6h-10.6v-10.6H464M470 193.9h-22.6v22.6H470V193.9L470 193.9z"/>
    </g>
    <g>
      <path d="M491.7 199.9v10.6h-10.6v-10.6H491.7M497.7 193.9h-22.6v22.6h22.6V193.9L497.7 193.9z"/>
    </g>
    <g>
      <path d="M325.4 278.4v10.6h-10.6v-10.6H325.4M331.4 272.4h-22.6v22.6h22.6V272.4L331.4 272.4z"/>
    </g>
    <g>
      <path d="M353.2 278.4v10.6h-10.6v-10.6H353.2M359.2 272.4h-22.6v22.6h22.6V272.4L359.2 272.4z"/>
    </g>
    <g>
      <path d="M380.9 278.4v10.6h-10.6v-10.6H380.9M386.9 272.4h-22.6v22.6h22.6V272.4L386.9 272.4z"/>
    </g>
    <g>
      <path d="M408.6 278.4v10.6H398v-10.6H408.6M414.6 272.4H392v22.6h22.6V272.4L414.6 272.4z"/>
    </g>
    <g>
      <path d="M436.3 278.4v10.6h-10.6v-10.6H436.3M442.3 272.4h-22.6v22.6h22.6V272.4L442.3 272.4z"/>
    </g>
    <g>
      <path d="M464 278.4v10.6h-10.6v-10.6H464M470 272.4h-22.6v22.6H470V272.4L470 272.4z"/>
    </g>
    <g>
      <path d="M491.7 278.4v10.6h-10.6v-10.6H491.7M497.7 272.4h-22.6v22.6h22.6V272.4L497.7 272.4z"/>
    </g>
    <g>
      <path d="M325.4 252.2v10.6h-10.6v-10.6H325.4M331.4 246.2h-22.6v22.6h22.6V246.2L331.4 246.2z"/>
    </g>
    <g>
      <path d="M353.2 252.2v10.6h-10.6v-10.6H353.2M359.2 246.2h-22.6v22.6h22.6V246.2L359.2 246.2z"/>
    </g>
    <g>
      <path d="M380.9 252.2v10.6h-10.6v-10.6H380.9M386.9 246.2h-22.6v22.6h22.6V246.2L386.9 246.2z"/>
    </g>
    <g>
      <path d="M408.6 252.2v10.6H398v-10.6H408.6M414.6 246.2H392v22.6h22.6V246.2L414.6 246.2z"/>
    </g>
    <g>
      <path d="M436.3 252.2v10.6h-10.6v-10.6H436.3M442.3 246.2h-22.6v22.6h22.6V246.2L442.3 246.2z"/>
    </g>
    <g>
      <path d="M464 252.2v10.6h-10.6v-10.6H464M470 246.2h-22.6v22.6H470V246.2L470 246.2z"/>
    </g>
    <g>
      <path d="M491.7 252.2v10.6h-10.6v-10.6H491.7M497.7 246.2h-22.6v22.6h22.6V246.2L497.7 246.2z"/>
    </g>
    <g>
      <path d="M325.4 226v10.6h-10.6V226H325.4M331.4 220h-22.6v22.6h22.6V220L331.4 220z"/>
    </g>
    <g>
      <path d="M353.2 226v10.6h-10.6V226H353.2M359.2 220h-22.6v22.6h22.6V220L359.2 220z"/>
    </g>
    <g>
      <path d="M380.9 226v10.6h-10.6V226H380.9M386.9 220h-22.6v22.6h22.6V220L386.9 220z"/>
    </g>
    <g>
      <path d="M408.6 226v10.6H398V226H408.6M414.6 220H392v22.6h22.6V220L414.6 220z"/>
    </g>
    <g>
      <path d="M436.3 226v10.6h-10.6V226H436.3M442.3 220h-22.6v22.6h22.6V220L442.3 220z"/>
    </g>
    <g>
      <path d="M464 226v10.6h-10.6V226H464M470 220h-22.6v22.6H470V220L470 220z"/>
    </g>
    <g>
      <path d="M491.7 226v10.6h-10.6V226H491.7M497.7 220h-22.6v22.6h22.6V220L497.7 220z"/>
    </g>
    <g>
      <path d="M502.4 190.7v133.6H304.1V190.7H502.4M516.4 176.7h-14H304.1h-14v14 133.6 14h14 198.3 14v-14V190.7 176.7L516.4 176.7z"/>
    </g>
  </g>
  <g>
    <path d="M-350.6 126.1v15.7h-15.7v-15.7H-350.6M-344.6 120.1h-27.7v27.7h27.7V120.1L-344.6 120.1z"/>
  </g>
  <g>
    <path d="M-316.5 126.1v15.7h-15.7v-15.7H-316.5M-310.5 120.1h-27.7v27.7h27.7V120.1L-310.5 120.1z"/>
  </g>
  <g>
    <path d="M-282.5 126.1v15.7h-15.7v-15.7H-282.5M-276.5 120.1h-27.7v27.7h27.7V120.1L-276.5 120.1z"/>
  </g>
  <g>
    <path d="M-248.4 126.1v15.7h-15.7v-15.7H-248.4M-242.4 120.1h-27.7v27.7h27.7V120.1L-242.4 120.1z"/>
  </g>
  <g>
    <rect x="-236.1" y="120.1" width="27.7" height="27.7"/>
  </g>
  <g>
    <rect x="-202.1" y="120.1" width="27.7" height="27.7"/>
  </g>
  <g>
    <rect x="-168.1" y="120.1" width="27.7" height="27.7"/>
  </g>
  <g>
    <rect x="-372.3" y="-8.5" width="27.7" height="27.7"/>
  </g>
  <g>
    <rect x="-338.3" y="-8.5" width="27.7" height="27.7"/>
  </g>
  <g>
    <path d="M-282.5-2.5v15.7h-15.7V-2.5H-282.5M-276.5-8.5h-27.7v27.7h27.7V-8.5L-276.5-8.5z"/>
  </g>
  <g>
    <path d="M-248.4-2.5v15.7h-15.7V-2.5H-248.4M-242.4-8.5h-27.7v27.7h27.7V-8.5L-242.4-8.5z"/>
  </g>
  <g>
    <path d="M-214.4-2.5v15.7h-15.7V-2.5H-214.4M-208.4-8.5h-27.7v27.7h27.7V-8.5L-208.4-8.5z"/>
  </g>
  <g>
    <path d="M-180.4-2.5v15.7h-15.7V-2.5H-180.4M-174.4-8.5h-27.7v27.7h27.7V-8.5L-174.4-8.5z"/>
  </g>
  <g>
    <path d="M-146.3-2.5v15.7h-15.7V-2.5H-146.3M-140.3-8.5h-27.7v27.7h27.7V-8.5L-140.3-8.5z"/>
  </g>
  <g>
    <path d="M-350.6 94v15.7h-15.7V94H-350.6M-344.6 88h-27.7v27.7h27.7V88L-344.6 88z"/>
  </g>
  <g>
    <path d="M-316.5 94v15.7h-15.7V94H-316.5M-310.5 88h-27.7v27.7h27.7V88L-310.5 88z"/>
  </g>
  <g>
    <path d="M-282.5 94v15.7h-15.7V94H-282.5M-276.5 88h-27.7v27.7h27.7V88L-276.5 88z"/>
  </g>
  <g>
    <path d="M-248.4 94v15.7h-15.7V94H-248.4M-242.4 88h-27.7v27.7h27.7V88L-242.4 88z"/>
  </g>
  <g>
    <path d="M-214.4 94v15.7h-15.7V94H-214.4M-208.4 88h-27.7v27.7h27.7V88L-208.4 88z"/>
  </g>
  <g>
    <path d="M-180.4 94v15.7h-15.7V94H-180.4M-174.4 88h-27.7v27.7h27.7V88L-174.4 88z"/>
  </g>
  <g>
    <path d="M-146.3 94v15.7h-15.7V94H-146.3M-140.3 88h-27.7v27.7h27.7V88L-140.3 88z"/>
  </g>
  <g>
    <path d="M-350.6 61.8v15.7h-15.7V61.8H-350.6M-344.6 55.8h-27.7v27.7h27.7V55.8L-344.6 55.8z"/>
  </g>
  <g>
    <path d="M-316.5 61.8v15.7h-15.7V61.8H-316.5M-310.5 55.8h-27.7v27.7h27.7V55.8L-310.5 55.8z"/>
  </g>
  <g>
    <path d="M-282.5 61.8v15.7h-15.7V61.8H-282.5M-276.5 55.8h-27.7v27.7h27.7V55.8L-276.5 55.8z"/>
  </g>
  <g>
    <path d="M-248.4 61.8v15.7h-15.7V61.8H-248.4M-242.4 55.8h-27.7v27.7h27.7V55.8L-242.4 55.8z"/>
  </g>
  <g>
    <path d="M-214.4 61.8v15.7h-15.7V61.8H-214.4M-208.4 55.8h-27.7v27.7h27.7V55.8L-208.4 55.8z"/>
  </g>
  <g>
    <path d="M-180.4 61.8v15.7h-15.7V61.8H-180.4M-174.4 55.8h-27.7v27.7h27.7V55.8L-174.4 55.8z"/>
  </g>
  <g>
    <path d="M-146.3 61.8v15.7h-15.7V61.8H-146.3M-140.3 55.8h-27.7v27.7h27.7V55.8L-140.3 55.8z"/>
  </g>
  <g>
    <path d="M-350.6 29.7v15.7h-15.7V29.7H-350.6M-344.6 23.7h-27.7v27.7h27.7V23.7L-344.6 23.7z"/>
  </g>
  <g>
    <path d="M-316.5 29.7v15.7h-15.7V29.7H-316.5M-310.5 23.7h-27.7v27.7h27.7V23.7L-310.5 23.7z"/>
  </g>
  <g>
    <path d="M-282.5 29.7v15.7h-15.7V29.7H-282.5M-276.5 23.7h-27.7v27.7h27.7V23.7L-276.5 23.7z"/>
  </g>
  <g>
    <path d="M-248.4 29.7v15.7h-15.7V29.7H-248.4M-242.4 23.7h-27.7v27.7h27.7V23.7L-242.4 23.7z"/>
  </g>
  <g>
    <path d="M-214.4 29.7v15.7h-15.7V29.7H-214.4M-208.4 23.7h-27.7v27.7h27.7V23.7L-208.4 23.7z"/>
  </g>
  <g>
    <path d="M-180.4 29.7v15.7h-15.7V29.7H-180.4M-174.4 23.7h-27.7v27.7h27.7V23.7L-174.4 23.7z"/>
  </g>
  <g>
    <path d="M-146.3 29.7v15.7h-15.7V29.7H-146.3M-140.3 23.7h-27.7v27.7h27.7V23.7L-140.3 23.7z"/>
  </g>
  <g>
    <path d="M19.2 397.5v10.6H8.6v-10.6H19.2M25.2 391.5H2.6v22.6h22.6V391.5L25.2 391.5z"/>
  </g>
  <g>
    <path d="M46.9 397.5v10.6H36.3v-10.6H46.9M52.9 391.5H30.3v22.6h22.6V391.5L52.9 391.5z"/>
  </g>
  <g>
    <path d="M74.6 397.5v10.6H64v-10.6H74.6M80.6 391.5H58v22.6h22.6V391.5L80.6 391.5z"/>
  </g>
  <g>
    <path d="M102.3 397.5v10.6H91.7v-10.6H102.3M108.3 391.5H85.7v22.6h22.6V391.5L108.3 391.5z"/>
  </g>
  <g>
    <rect x="113.4" y="391.5" width="22.6" height="22.6"/>
  </g>
  <g>
    <rect x="141.2" y="391.5" width="22.6" height="22.6"/>
  </g>
  <g>
    <rect x="168.9" y="391.5" width="22.6" height="22.6"/>
  </g>
  <g>
    <rect x="2.6" y="286.8" width="22.6" height="22.6"/>
  </g>
  <g>
    <rect x="30.3" y="286.8" width="22.6" height="22.6"/>
  </g>
  <g>
    <path d="M74.6 292.8v10.6H64v-10.6H74.6M80.6 286.8H58v22.6h22.6V286.8L80.6 286.8z"/>
  </g>
  <g>
    <path d="M102.3 292.8v10.6H91.7v-10.6H102.3M108.3 286.8H85.7v22.6h22.6V286.8L108.3 286.8z"/>
  </g>
  <g>
    <path d="M130 292.8v10.6h-10.6v-10.6H130M136 286.8h-22.6v22.6H136V286.8L136 286.8z"/>
  </g>
  <g>
    <path d="M157.7 292.8v10.6h-10.6v-10.6H157.7M163.7 286.8h-22.6v22.6h22.6V286.8L163.7 286.8z"/>
  </g>
  <g>
    <path d="M185.4 292.8v10.6h-10.6v-10.6H185.4M191.4 286.8h-22.6v22.6h22.6V286.8L191.4 286.8z"/>
  </g>
  <g>
    <path d="M19.2 371.4v10.6H8.6v-10.6H19.2M25.2 365.4H2.6v22.6h22.6V365.4L25.2 365.4z"/>
  </g>
  <g>
    <path d="M46.9 371.4v10.6H36.3v-10.6H46.9M52.9 365.4H30.3v22.6h22.6V365.4L52.9 365.4z"/>
  </g>
  <g>
    <path d="M74.6 371.4v10.6H64v-10.6H74.6M80.6 365.4H58v22.6h22.6V365.4L80.6 365.4z"/>
  </g>
  <g>
    <path d="M102.3 371.4v10.6H91.7v-10.6H102.3M108.3 365.4H85.7v22.6h22.6V365.4L108.3 365.4z"/>
  </g>
  <g>
    <path d="M130 371.4v10.6h-10.6v-10.6H130M136 365.4h-22.6v22.6H136V365.4L136 365.4z"/>
  </g>
  <g>
    <path d="M157.7 371.4v10.6h-10.6v-10.6H157.7M163.7 365.4h-22.6v22.6h22.6V365.4L163.7 365.4z"/>
  </g>
  <g>
    <path d="M185.4 371.4v10.6h-10.6v-10.6H185.4M191.4 365.4h-22.6v22.6h22.6V365.4L191.4 365.4z"/>
  </g>
  <g>
    <path d="M19.2 345.2v10.6H8.6v-10.6H19.2M25.2 339.2H2.6v22.6h22.6V339.2L25.2 339.2z"/>
  </g>
  <g>
    <path d="M46.9 345.2v10.6H36.3v-10.6H46.9M52.9 339.2H30.3v22.6h22.6V339.2L52.9 339.2z"/>
  </g>
  <g>
    <path d="M74.6 345.2v10.6H64v-10.6H74.6M80.6 339.2H58v22.6h22.6V339.2L80.6 339.2z"/>
  </g>
  <g>
    <path d="M102.3 345.2v10.6H91.7v-10.6H102.3M108.3 339.2H85.7v22.6h22.6V339.2L108.3 339.2z"/>
  </g>
  <g>
    <path d="M130 345.2v10.6h-10.6v-10.6H130M136 339.2h-22.6v22.6H136V339.2L136 339.2z"/>
  </g>
  <g>
    <path d="M157.7 345.2v10.6h-10.6v-10.6H157.7M163.7 339.2h-22.6v22.6h22.6V339.2L163.7 339.2z"/>
  </g>
  <g>
    <path d="M185.4 345.2v10.6h-10.6v-10.6H185.4M191.4 339.2h-22.6v22.6h22.6V339.2L191.4 339.2z"/>
  </g>
  <g>
    <path d="M19.2 319v10.6H8.6V319H19.2M25.2 313H2.6v22.6h22.6V313L25.2 313z"/>
  </g>
  <g>
    <path d="M46.9 319v10.6H36.3V319H46.9M52.9 313H30.3v22.6h22.6V313L52.9 313z"/>
  </g>
  <g>
    <path d="M74.6 319v10.6H64V319H74.6M80.6 313H58v22.6h22.6V313L80.6 313z"/>
  </g>
  <g>
    <path d="M102.3 319v10.6H91.7V319H102.3M108.3 313H85.7v22.6h22.6V313L108.3 313z"/>
  </g>
  <g>
    <path d="M130 319v10.6h-10.6V319H130M136 313h-22.6v22.6H136V313L136 313z"/>
  </g>
  <g>
    <path d="M157.7 319v10.6h-10.6V319H157.7M163.7 313h-22.6v22.6h22.6V313L163.7 313z"/>
  </g>
  <g>
    <path d="M185.4 319v10.6h-10.6V319H185.4M191.4 313h-22.6v22.6h22.6V313L191.4 313z"/>
  </g>
  <g>
    <path d="M196.2 283.7v133.6H-2.1V283.7H196.2M210.2 269.7h-14H-2.1h-14v14 133.6 14h14 198.3 14v-14V283.7 269.7L210.2 269.7z"/>
  </g>
  <g>
    <g>
      <path d="M-344.7 443.8v15.9h-20.2v-15.9H-344.7M-338.7 437.8h-32.2v27.9h32.2V437.8L-338.7 437.8z"/>
    </g>
    <g>
      <path d="M-305.3 443.8v15.9h-20.2v-15.9H-305.3M-299.3 437.8h-32.2v27.9h32.2V437.8L-299.3 437.8z"/>
    </g>
    <g>
      <path d="M-265.8 443.8v15.9h-20.2v-15.9H-265.8M-259.8 437.8h-32.2v27.9h32.2V437.8L-259.8 437.8z"/>
    </g>
    <g>
      <path d="M-226.3 443.8v15.9h-20.2v-15.9H-226.3M-220.3 437.8h-32.2v27.9h32.2V437.8L-220.3 437.8z"/>
    </g>
    <g>
      <rect x="-213" y="437.8" width="32.2" height="27.9"/>
    </g>
    <g>
      <rect x="-370.9" y="339.2" width="32.2" height="27.9"/>
    </g>
    <g>
      <rect x="-331.4" y="339.2" width="32.2" height="27.9"/>
    </g>
    <g>
      <path d="M-265.8 345.2v15.9h-20.2v-15.9H-265.8M-259.8 339.2h-32.2v27.9h32.2V339.2L-259.8 339.2z"/>
    </g>
    <g>
      <path d="M-226.3 345.2v15.9h-20.2v-15.9H-226.3M-220.3 339.2h-32.2v27.9h32.2V339.2L-220.3 339.2z"/>
    </g>
    <g>
      <path d="M-186.8 345.2v15.9H-207v-15.9H-186.8M-180.8 339.2H-213v27.9h32.2V339.2L-180.8 339.2z"/>
    </g>
    <g>
      <path d="M-344.7 409.9v15.9h-20.2v-15.9H-344.7M-338.7 403.9h-32.2v27.9h32.2V403.9L-338.7 403.9z"/>
    </g>
    <g>
      <path d="M-305.3 409.9v15.9h-20.2v-15.9H-305.3M-299.3 403.9h-32.2v27.9h32.2V403.9L-299.3 403.9z"/>
    </g>
    <g>
      <path d="M-265.8 409.9v15.9h-20.2v-15.9H-265.8M-259.8 403.9h-32.2v27.9h32.2V403.9L-259.8 403.9z"/>
    </g>
    <g>
      <path d="M-226.3 409.9v15.9h-20.2v-15.9H-226.3M-220.3 403.9h-32.2v27.9h32.2V403.9L-220.3 403.9z"/>
    </g>
    <g>
      <path d="M-186.8 409.9v15.9H-207v-15.9H-186.8M-180.8 403.9H-213v27.9h32.2V403.9L-180.8 403.9z"/>
    </g>
    <g>
      <path d="M-344.7 377.6v15.9h-20.2v-15.9H-344.7M-338.7 371.6h-32.2v27.9h32.2V371.6L-338.7 371.6z"/>
    </g>
    <g>
      <path d="M-305.3 377.6v15.9h-20.2v-15.9H-305.3M-299.3 371.6h-32.2v27.9h32.2V371.6L-299.3 371.6z"/>
    </g>
    <g>
      <path d="M-265.8 377.6v15.9h-20.2v-15.9H-265.8M-259.8 371.6h-32.2v27.9h32.2V371.6L-259.8 371.6z"/>
    </g>
    <g>
      <path d="M-226.3 377.6v15.9h-20.2v-15.9H-226.3M-220.3 371.6h-32.2v27.9h32.2V371.6L-220.3 371.6z"/>
    </g>
    <g>
      <path d="M-186.8 377.6v15.9H-207v-15.9H-186.8M-180.8 371.6H-213v27.9h32.2V371.6L-180.8 371.6z"/>
    </g>
    <g>
      <path d="M-177.3 336v133.6h-198.3V336H-177.3M-163.3 322h-14 -198.3 -14v14 133.6 14h14 198.3 14v-14V336 322L-163.3 322z"/>
    </g>
  </g>
  <g>
    <path d="M45.3 167.1v21H19.3v-21H45.3M51.3 161.1H13.3v33h38.1V161.1L51.3 161.1z"/>
  </g>
  <g>
    <path d="M92 167.1v21H66v-21H92M98 161.1H60v33H98V161.1L98 161.1z"/>
  </g>
  <g>
    <path d="M138.7 167.1v21h-26.1v-21H138.7M144.7 161.1h-38.1v33h38.1V161.1L144.7 161.1z"/>
  </g>
  <g>
    <path d="M185.4 167.1v21h-26.1v-21H185.4M191.4 161.1h-38.1v33h38.1V161.1L191.4 161.1z"/>
  </g>
  <g>
    <path d="M232.1 167.1v21H206v-21H232.1M238.1 161.1H200v33h38.1V161.1L238.1 161.1z"/>
  </g>
  <g>
    <path d="M45.3 50.5v21H19.3v-21H45.3M51.3 44.5H13.3v33h38.1V44.5L51.3 44.5z"/>
  </g>
  <g>
    <path d="M92 50.5v21H66v-21H92M98 44.5H60v33H98V44.5L98 44.5z"/>
  </g>
  <g>
    <path d="M138.7 50.5v21h-26.1v-21H138.7M144.7 44.5h-38.1v33h38.1V44.5L144.7 44.5z"/>
  </g>
  <g>
    <path d="M185.4 50.5v21h-26.1v-21H185.4M191.4 44.5h-38.1v33h38.1V44.5L191.4 44.5z"/>
  </g>
  <g>
    <path d="M232.1 50.5v21H206v-21H232.1M238.1 44.5H200v33h38.1V44.5L238.1 44.5z"/>
  </g>
  <g>
    <path d="M45.3 127.1v21H19.3v-21H45.3M51.3 121.1H13.3v33h38.1V121.1L51.3 121.1z"/>
  </g>
  <g>
    <rect x="60" y="121.1" width="38.1" height="33"/>
  </g>
  <g>
    <path d="M138.7 127.1v21h-26.1v-21H138.7M144.7 121.1h-38.1v33h38.1V121.1L144.7 121.1z"/>
  </g>
  <g>
    <path d="M185.4 127.1v21h-26.1v-21H185.4M191.4 121.1h-38.1v33h38.1V121.1L191.4 121.1z"/>
  </g>
  <g>
    <path d="M232.1 127.1v21H206v-21H232.1M238.1 121.1H200v33h38.1V121.1L238.1 121.1z"/>
  </g>
  <g>
    <path d="M45.3 88.8v21H19.3v-21H45.3M51.3 82.8H13.3v33h38.1V82.8L51.3 82.8z"/>
  </g>
  <g>
    <path d="M92 88.8v21H66v-21H92M98 82.8H60v33H98V82.8L98 82.8z"/>
  </g>
  <g>
    <path d="M138.7 88.8v21h-26.1v-21H138.7M144.7 82.8h-38.1v33h38.1V82.8L144.7 82.8z"/>
  </g>
  <g>
    <path d="M185.4 88.8v21h-26.1v-21H185.4M191.4 82.8h-38.1v33h38.1V82.8L191.4 82.8z"/>
  </g>
  <g>
    <path d="M232.1 88.8v21H206v-21H232.1M238.1 82.8H200v33h38.1V82.8L238.1 82.8z"/>
  </g>
</svg>
</div>
<% unless nolabel %>
<div class="profile-icon-label">Year Established</div>
<% end %>