<svg class="channel" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 250 250" enable-background="new 0 0 250 250" xml:space="preserve">
  <path d="M69.8 42.4l16.3 2.8c0 0-15 66.1 7.9 71.3s33.4-64.3 33.4-64.3l15.2 2.6c0 0-18.4 84.2-52.1 69.2S69.8 42.4 69.8 42.4z"/>
  <path d="M65.2 4.4l-3.9 11.7L38.9 26v186.2l138.7 33.3 12.9-22.2 20.7-7.9V29.3L65.2 4.4zM49.7 28.7l121 24.3v181.7L49.6 204.2 49.7 28.7zM186.9 212.2l-10.2 19.1V50.9h-0.2l3-8.6 21.7-9.7 1.2 172.4L186.9 212.2z"/>
</svg>
<div class="profile-icon-label">Channels</div>