<svg class="channel" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 250 250" enable-background="new 0 0 250 250" xml:space="preserve">
  <path d="M65.2 4.4l-3.9 11.7 -22.4 9.9v186.2h0l0 0 138.7 33.3 12.9-22.2 20.7-7.9V29.3L65.2 4.4zM49.6 204.2l0.1-175.5L173 53.5l-0.1 181.8L49.6 204.2zM202.3 205l-15.4 7.2 -11.4 21.3V53.6l3.9-11.3 21.7-9.7L202.3 205z"/>
  <path d="M69.8 42.4l16.3 2.8c0 0-15 66.1 7.9 71.3s33.4-64.3 33.4-64.3l15.2 2.6c0 0-18.4 84.2-52.1 69.2S69.8 42.4 69.8 42.4z"/>
</svg>
<div class="profile-icon-label">Channels</div>