<svg class="trademark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 250 250" enable-background="new 0 0 250 250" xml:space="preserve">
  <text transform="matrix(1 0 0 1 106.0414 104.7108)" font-family="'MyriadPro-Bold'" font-size="100">
    TM
  </text>
  <g>
    <text transform="matrix(1 0 0 1 153.4288 212.2834)" font-family="'MyriadPro-Bold'" font-size="96.464">
      R
    </text>
    <path d="M180.8 238.5c-31.9 0-57.8-25.9-57.8-57.8s25.9-57.8 57.8-57.8 57.8 25.9 57.8 57.8S212.6 238.5 180.8 238.5zM180.8 133.2c-26.2 0-47.6 21.4-47.6 47.6s21.4 47.6 47.6 47.6 47.6-21.4 47.6-47.6S206.9 133.2 180.8 133.2z"/>
  </g>
</svg>
<div class="profile-icon-label">Trademarks</div>