<% nolabel ||= false %>
<div class="svgwrapper">
<svg class="trademark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 250 250" enable-background="new 0 0 250 250" xml:space="preserve">
  <g enable-background="new    ">
    <path d="M125.6 50.1h-18.1V37.3h51.8v12.8h-18.4v54.6h-15.3V50.1z"/>
    <path d="M224 78.9c-0.3-8.1-0.6-17.9-0.6-27.7h-0.3c-2.1 8.6-4.9 18.2-7.5 26.1l-8.2 26.3h-11.9l-7.2-26.1c-2.2-7.9-4.5-17.5-6.1-26.3H182c-0.4 9.1-0.7 19.5-1.2 27.9l-1.2 25.6h-14.1l4.3-67.4h20.3l6.6 22.5c2.1 7.8 4.2 16.2 5.7 24.1h0.3c1.9-7.8 4.2-16.7 6.4-24.2l7.2-22.4h19.9l3.7 67.4H225L224 78.9z"/>
  </g>
  <g>
    <g enable-background="new    ">
      <path d="M159.8 148.1c4.7-0.8 11.8-1.3 19.6-1.3 9.6 0 16.4 1.4 21 5.1 3.9 3.1 6 7.6 6 13.6 0 8.3-5.9 14-11.5 16v0.3c4.5 1.8 7 6.2 8.7 12.2 2 7.3 4.1 15.8 5.3 18.3h-15c-1.1-1.8-2.6-7.1-4.5-15.1 -1.7-8.1-4.5-10.3-10.5-10.4h-4.4v25.6h-14.6V148.1zM174.4 176.1h5.8c7.3 0 11.7-3.7 11.7-9.4 0-6-4.1-9-10.8-9.1 -3.6 0-5.6 0.3-6.7 0.5V176.1z"/>
    </g>
    <path d="M180.8 238.5c-31.9 0-57.8-25.9-57.8-57.8s25.9-57.8 57.8-57.8 57.8 25.9 57.8 57.8S212.6 238.5 180.8 238.5zM180.8 133.2c-26.2 0-47.6 21.4-47.6 47.6s21.4 47.6 47.6 47.6 47.6-21.4 47.6-47.6S206.9 133.2 180.8 133.2z"/>
  </g>
</svg>
</div>
<% unless nolabel %>
<div class="profile-icon-label">Trademarks</div>
<% end %>